@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
  @apply box-border duration-100
}



body {
  @apply overflow-x-clip dark:bg-[#16171d] dark:text-[#9ca3af]
}

h1, h2, h3, h4, h5, h6 {
  @apply dark:text-[#f3f4f6];
}

header {
  background: url("./assets/NachtDerUntotenTitle.png");
  background-attachment: fixed;

  @apply w-screen h-screen bg-cover bg-no-repeat flex  justify-center items-center ;
}

header h1 {
  @apply text-center text-slate-100 bg-black/50 p-5 rounded border-2 border-black shadow-xl 
}

nav {  
  background: url("./assets/NachtDerUntotenTitle.png");
  background-color: rgba(255, 255, 255,0.2);
  background-blend-mode: lighten;
  @apply  bg-no-repeat bg-cover bg-center flex flex-row justify-between items-center px-5 backdrop-blur-2xl w-screen sticky top-0 max-w-full
}

nav h1 {
  @apply text-slate-100 bg-black/50 py-5 px-5 rounded-xl border-2 border-black shadow-xl 
}

#linkLists {
  @apply  hidden xl:flex gap-1
}

#linkLists a {
  @apply backdrop-blur-lg rounded py-2 px-3 shadow text-orange-300 hover:translate-y-[-1] hover:translate-x-[1] hover:shadow-xl hover:bg-white/10
}
#hamburger {
  @apply block xl:hidden text-slate-100 bg-black/50 py-5 px-5 rounded-xl border-2 border-black shadow-xl hover:bg-black/70
}
#hiddenLinks {
  @apply hidden gap-0 xl:!hidden sticky top-27 
}
.showLinks {
  background: url("./assets/NachtDerUntotenTitle.png");
  background-color: rgba(255, 255, 255,0.2);
  background-blend-mode: lighten;
  @apply !flex !flex-col bg-no-repeat bg-cover bg-center ; 
}

.showLinks a {
  @apply backdrop-blur-lg rounded py-2 px-3 shadow text-orange-300 hover:translate-y-[-1] hover:translate-x-[1] hover:shadow-xl hover:bg-slate-200/30; 
}
section {
  @apply text-left max-w-4xl mx-auto p-4
}
section h1 {
  @apply text-3xl 
}
section h2 {@apply text-2xl }

section img {
  @apply w-full max-h-[400px] object-cover
}

footer {
  @apply bg-slate-200 p-3 text-slate-500 mt-5 dark:bg-slate-900
}

.gallery {
  @apply border rounded p-3 flex flex-col gap-4 border-slate-300 dark:border-slate-700
}

.gallery img {
  @apply w-[960px] h-[540px] object-contain bg-slate-800 rounded
}

.gallery .galleryButtons {
  @apply flex justify-between w-full items-center
}

.gallery .galleryButtons button {
  @apply text-orange-300 border p-3 px-5 rounded hover:bg-orange-50 dark:hover:bg-orange-900 hover:shadow
}

hr {
  @apply text-slate-300 my-2 dark:text-slate-700
}

iframe {
  aspect-ratio: 16 / 9;
  @apply max-w-4xl w-full rounded overflow-hidden
}

#iframeContainer {
  @apply p-4 border rounded border-slate-300 dark:border-slate-700 flex flex-col gap-4
}

#fullscreen { @apply text-orange-300 border p-3 px-5 rounded hover:bg-orange-50 dark:hover:bg-orange-900 hover:shadow w-full }
a {
  @apply text-orange-300 
}

#wide {
  
  @apply w-full 
}