@import "tailwindcss";

* {
  @apply box-border duration-100
}

body {
  @apply overflow-x-clip;
}

header {
  background: url("./assets/NachtDerUntotenTitle.png");
  background-attachment: fixed;

  @apply w-screen h-screen bg-cover bg-no-repeat flex  justify-center items-center ;
}

header h1 {
  @apply text-center text-slate-100 bg-black/50 p-5 rounded border-2 border-black shadow-xl 
}

nav {  
  background: url("./assets/NachtDerUntotenTitle.png");
  background-color: rgba(255, 255, 255,0.2);
  background-blend-mode: lighten;
  @apply  bg-no-repeat bg-cover bg-center flex flex-row justify-between items-center px-5 backdrop-blur-2xl w-screen sticky top-0
}

nav h1 {
  @apply text-slate-100 bg-black/50 py-5 px-5 rounded-xl border-2 border-black shadow-xl
}

#linkLists {
  @apply flex gap-1
}

#linkLists a {
  @apply backdrop-blur-lg rounded py-2 px-3 shadow text-orange-300 hover:translate-y-[-1] hover:translate-x-[1] hover:shadow-xl hover:bg-white/10
}


section {
  @apply text-left max-w-3xl mx-auto
}
section h1 {
  @apply text-3xl
}
section h2 {@apply text-2xl}

section img {
  @apply w-full max-h-[400px] object-cover
}

footer {
  @apply bg-slate-200 p-3 text-slate-500 mt-5
}

.gallery {
  @apply border rounded p-3 flex flex-col gap-4 border-slate-300
}

.gallery img {
  @apply w-[960px] h-[540px] object-contain bg-slate-800 rounded
}

.gallery .galleryButtons {
  @apply flex justify-between w-full items-center
}

.gallery .galleryButtons button {
  @apply text-orange-300 border p-3 px-5 rounded hover:bg-orange-50 hover:shadow
}

hr {
  @apply text-slate-300 my-2
}